body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.website-refferal {
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  background-color: #474747;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.navbar h1 {
  font-weight: 500;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1100px;
}

.travel {
  display: grid;
  grid-template-columns: 300px 500px;
  gap: 3rem;
  margin: 3rem auto;
  align-items: center;
  justify-content: center;
}

@media (max-width: 840px) {
  .travel {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 5rem;
  }
}

.image-overflow {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 100%;
}

.location-image {
  border-radius: 12px;
  height: 400px;
}

@media (max-width: 840px) {
  .location-image {
    width: 500px;
    height: auto;
  }
}

.location-top {
  display: flex;
  align-items: center;
}

.country {
  margin-left: 4px;
  text-transform: uppercase;
}

.location-link {
  color: #918E9B;
  text-decoration: underline #918E9B;
  margin-left: 2rem;
}

.location-name {
  font-size: 2.5rem;
  margin-top: 8px;
}

.content {
  margin: 8px;
  width: 100%;
  max-width: 500px;
}
